# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - aihuman

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_91b4b19031474dda95ea5750539f7853 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_a590e97183304d649b92de73a3f6fa52 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_91b4b19031474dda95ea5750539f7853 }}/ninjaasmoke/dma:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'aihuman'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_a3343ee35c524d3da05334a5e4b962a1 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_91b4b19031474dda95ea5750539f7853 }}/ninjaasmoke/dma:${{ github.sha }}'